@import 'color-vars';

body {
    font: 15px arial;
    background: $body-bg-color;
    color: $body-color;
}

h1, h2 {
    color: $header-color;
}

a {
    color: $a-color;
}

ul {
    list-style-type: square;
}

header, nav, aside {
    text-align: center;
}

nav, footer {
    margin: 15px 0 15px 0;
}

nav a {
    padding: 0 15px 0 15px;
    font-size: 1.25em;
}

#page {
    display: flex;
    width: 100%;
    border: $border-color solid 1px;
}

aside {
    flex-shrink: 0;
    min-width: 270px;
    padding: 10px;
    background: $aside-bg-color;
    color: $aside-color;
    text-align: left;
}

aside ul {
    padding-left: 15px;
}

#profile-pic {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: $border-color solid 1px;
}

@import 'articles';

footer {
    text-align: right;
}
