body {
    font: 15px arial;
    background: white;
    color: black;
}

a {
    color: crimson;
}

ul {
    list-style-type: square;
}

header, nav, aside {
    text-align: center;
}

nav, footer {
    margin: 15px 0 15px 0;
}

nav a {
    padding: 0 15px 0 15px;
    font-size: 1.25em;
}

#page {
    display: flex;
    width: 100%;
    border: lightgray solid 1px;
}

aside {
    flex-shrink: 0;
    min-width: 270px;
    padding: 10px;
    background: black;
    color: white;
    text-align: left;
}

aside ul {
    padding-left: 15px;
}

#profile-pic {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: darkgray solid 1px;
}

#articles {
    flex-grow: 1;
    margin: 15px 15px 15px 20px;
}

#articles h2, ul, ol {
    margin: 15px 0 0 0;
}

footer {
    text-align: right;
}
