body {
    font: 15px arial;
    background: white;
    color: black;
}

header, nav, aside {
    text-align: center;
}

nav, footer {
    margin: 10px 0 10px 0;
}

#page {
    display: flex;
    width: 100%;
    border: lightgray solid 1px;
}

aside {
    flex-shrink: 0;
    min-width: 270px;
    padding: 10px;
    background: black;
    color: white;
    text-align: left;
}

aside ul {
    padding-left: 15px;
    list-style-type: square;
}

#profile-pic {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: darkgray solid 1px;
}

#articles {
    flex-grow: 1;
    margin: 15px;
}

footer {
    text-align: right;
}
