#gif-articles {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;

    article {
        margin: 5px;
        padding: 10px;
        width: $article-square;
        height: $article-square;
        background-color: blue;

        @import 'figure';
    }
}
