body {
    font: 15px arial;
    background: $body-bg-color;
    color: $body-color;
}

h1, h2 {
    color: $header-color;
}

a {
    color: $a-color;

    &.external {
        padding-right: 18px;
        background-image: url("../../img/external-link.png");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}

ul {
    list-style-type: square;
}